* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ecf1f1;
    font-family: 'Helvetica', arial, sans-serif;
    color: #494949;
}

header {
    display: grid;
    grid-gap: 0.25rem;
    text-align: center;
    padding: 1rem;
    background-color: #494949;
    color: azure;
}

.user {
    display: grid;
    margin: 0.5rem;
}

.umsatz {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-auto-flow: dense;
    grid-gap: 0.5rem;
    margin: 0.5rem;
}

.aktie {
    display: grid;
    height: 50px;
    border: 0.25px solid #494949;
}

.share-price {
    display: grid;
    margin-left: 0.5rem;
}

input[type=number] {
    width: 35px;
}

.buy, .sell {
    background-color: #494949;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buyStocks h2 {
    padding-left: 15px;
}